/* My style */
$text-color: #3d3d3d;
$background-color: #6d6d6d;
body {
  color: $text-color;
  background-color: $background-color;
}
p {
  color: $text-color;
}

h2 {
  background-color: $background-color;
}
