/* My style */
$font-size: 14px;
$h1-font-size: 16px;
$smaller-font-size: 12px;
body {
  font-size: $font-size;
  h1 {
    font-size: $h1-font-size;
    &.smaller {
      font-size: $smaller-font-size;
    }
  }
}
